{% extends 'default.html' %}


{% block content %}

<h2 style="margin-top: 20px"><span style="color: #1616f6;">Удаление отклика № {{ object.id }}</span></h2>
<hr>
<form action="" method="post">
    {% csrf_token %}
    <p><h4>После подтверждения</h4>
    <h5>Отклик: <span style="color: #1616f6;"><i>"{{ object.reply_text }}"</i></span></h5>
    <p><h5>к объявлению: <span style="color: #1616f6;"><i>"{{ post.post_title }}"</i></span></h5>
        <p><h4><span style="color: orangered;">будет удален</span></h4>
    <br>
    <input class="btn btn-danger btn-sm " type="submit" value="Удалить"/>&emsp;&emsp;<a href="{% url 'post_reply_detail' object.id %}" class="btn btn-primary btn-sm">Отмена </a>
</form>
{% endblock content %}